<div id="books-pages">
    <form action="/reviews/add" class="ebookstore-form" method="post">
        <% for (const field in fields) { %>
            <% if (field !== '_id') { %>
             <label for="<% field %>"><%= field.charAt(0).toUpperCase() + field.slice(1) %></label>
            <input type="<%= typeof fields[field] === 'number' ? 'number' : 'text' %>" name="<%= field %>" id="<%= field %>" required>
            <br>
        <% } %>
    <% } %>
    <button type="submit">Add Review</button>
    </form>
</div>