<h1><%- title  %></h1>

<% if (books.length > 0) { %>
 <ul>
    <% books.forEach(book => { %>
      <li><strong><%= book.title %></strong> by: <%= book.author %> <a href="/books/<%= book._id %>">View Details</a></li>    
    <% }) %>
 </ul>
<% } else { %>
    <p>No books avaliable</p>
<% } %>
 