<h1><%- title  %></h1>
<% if (books.lenth) { %>
 <ul>
    <% books.forEach(book => { %>
      <li><strong><%= book.title %></strong> by: <%= book.author %> <a href="/book/<%= book.id %>"></a></li>    
    <% }) %>
 </ul>
<% } else { %>
    <p>No books avaliable</p>
<% } %>
 