<div>
    <form action="/books/update" class="ebookstore-form">
        <% for (const field in fields) { %>
            <label for="<% field %>"><%= field.charAt(0).toUpperCase() + field.slice(1) %></label>
            <input type="<%= typeof fields[field] === 'number' ? 'number' : 'text' %>" name="<%= field %>" id="<%= field %>" optional>
        <br>
    <% } %>
    <button type="submit">Update Book</button>
    </form>
</div>