<header>
    <div id="storeName">
        <a href="/" title="return to home">eBOOKSTORE</a>
    </div>
    <div>
        <% if (user) { %>
            <a title="click to logout" href="/logout">Logout</a>
        <% } else { %>
            <a title="click to sign into account" href="/login">Sign In</a>
            <a href="/orders">View Cart</a>
        <% } %>
    </div>
</header>