<div>
    <!-- check if needed this may be a one page web app or navigation only appears after user login -->
    <!-- <ul>
        <li><a href="#">Books</a></li>
        <li><a href="#">Reviews</a></li>
        <li><a href="#">Books</a></li>
        <li><a href="#">Books</a></li>
    </ul> -->
</div>